
.result{
    font-size: 30px;
    font-style: italic;
}

.resultTable {
    height: 300px;
    width: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#leftTries{
    margin-top: 30%;
}

@media screen and (max-width: 600px) {
    input[type=number] {
        width: 100%;
        margin-top: 0;
    }
}